<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		{{^data}}
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Connexion</h3>
			</div>
			<div class="panel-body">
				<form role="authentification" method="post">
					<div class="form-group input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span> <input
							name="login" type="text" class="form-control" id="login" placeholder="Utilisateur"
							required="required" />
					</div>
					<div class="form-group input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-certificate"></span></span> <input
							name="password" type="password" class="form-control" id="password" placeholder="Password"
							required="required" />
					</div>
					<button type="submit" class="btn btn-info form-control">
						Connexion <span class="glyphicon glyphicon-off"></span>
					</button>
				</form>
			</div>
		</div>
		{{/data}} 
		{{#data}}
		<h1 class="center">Bienvenue</h1>
		{{/data}}
	</div>
	<div class="col-md-4"></div>
</div>
