<div class="container" role="craft">
	<div class="col-sm-3">
		<input type="text" name="item" value="{{item}}" placeholder="object crafté" class="form-control" />
	</div>
	<div class="col-sm-5">
		<input type="text" name="requiereds" value="{{requiereds}}" placeholder="obj&obj&obj&..."
			class="form-control" />
	</div>
	<div class="col-sm-3">
		<input type="number" name="po" value="{{po}}" placeholder="po" class="form-control" />
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-danger center" role="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
