<div class="container">

	<form method="post" action="adventure/img/" enctype="multipart/form-data">
		<div class="col-sm-4">
			<input type="file" id="file" name="file" class="form-control">
		</div>
		<div class="col-sm-4">
			<input type="text" id="name" name="name" placeholder="nom object/monstre/..."
				class="form-control">
		</div>
		<div class="col-sm-4">
			<button type="submit" class="btn btn-default" role="upload-img">Envoyer</button>
		</div>
	</form>

	<div class="col-sm-12">
		<h2>Quelques noms particulier :</h2>
		battle-player-loose<br /> battle-player-win<br /> lvlup-background<br /> lvlup-player<br />
		shop-background<br /> shop-player
	</div>
	<div class="col-sm-12">
		<h2>Resolutions conseillées :</h2>
		Fond : 160*100<br /> joueur / monstre : 42*42<br /> item : 16*16
	</div>

</div>
