<div class="container" role="item-drop">
	<div class="col-sm-3">
		<input type="text" name="item" placeholder="object" class="form-control" />
	</div>
	<div class="col-sm-3">
		<input type="text" name="monster" placeholder="monstre" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="number" name="rate" placeholder="taux" class="form-control" />
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-danger center" role="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
