<div class="container" role="monster">
	<div class="col-sm-3">
		<input type="text" name="name" value="{{name}}" placeholder="nom" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="number" name="xp" value="{{xp}}" placeholder="xp" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="text" name="lvl" value="{{lvl}}" placeholder="1-5 (lvl)" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="text" name="po" value="{{po}}" placeholder="5-10 (piece d'or)" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="text" name="damage" value="{{damage}}" placeholder="7-9 (degats)"
			class="form-control" />
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-danger center" role="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
