<div class="container" role="shop">
	<div class="col-sm-3">
		<input type="text" name="item" value="{{item}}" placeholder="object" class="form-control" />
	</div>
	<div class="col-sm-3">
		<input type="number" name="sellPrice" value="{{sellPrice}}" placeholder="prix de vente"
			class="form-control" />
	</div>
	<div class="col-sm-5">
		<hr>
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-danger center" role="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
