<div class="container" role="timer">
	<div class="col-md-2">
		<input type="number" name="delayTime" placeholder="delai (minute)"
			class="form-control" />
	</div>
	<div class="col-md-2">
		<input type="number" name="delayMessage" placeholder="delai (nbMessage)"
			class="form-control" />
	</div>
	<div class="col-md-7">
		<input type="text" name="message" placeholder="message" class="form-control" />
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-danger center" role="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
